<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392595409567-bvlp3o87eg8alc6fdo27ks5lg3mlmo16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392595409567-bvlp3o87eg8alc6fdo27ks5lg3mlmo16</string>
	<key>API_KEY</key>
	<string>AIzaSyDV6Fh_gK0G4rehHyrlux4GNPf9aJCOKjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>392595409567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.namiqui.namiquiapp</string>
	<key>PROJECT_ID</key>
	<string>namiqui-f3019</string>
	<key>STORAGE_BUCKET</key>
	<string>namiqui-f3019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392595409567:ios:1e7821491db5847f79b0aa</string>
	<key>DATABASE_URL</key>
	<string>https://namiqui-f3019.firebaseio.com</string>
</dict>
</plist>